/* CSS POUR LE WIDGET .image-titre-widget */

.widget_image_titre_widget {
  text-align: center;
  margin: 5% 3%;
}

.image-titre-widget {
  display: inline-block;
  position: relative;
  text-align: center;
}

.image-titre-widget img {
  max-width: 390px;
  max-height: 260px;
  width: 390px;
  height: 260px;
  object-fit: cover;
}

.image-titre-widget .titre {
  align-items: center;
  color: var(--white);
  display: flex;
  font-family: var(--font-family);
  font-size: var(--font-size-XXL);
  font-weight: var(--font-weight-800);
  justify-content: center;
  line-height: 1.2;
  padding: 3%;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.widget-area .widget {
  padding: 0px !important ;
}

@media screen and (max-width: 430px) {
  .image-titre-widget img {
    margin: 0;
    /* max-width: 300px;
    max-height: 200px; */
    width: 100%;
    height: 100%;
  }
  .image-titre-widget .titre {
    font-size: var(--font-size-L);
  }
}
