/************ attributs MAIN template*************/
#main_home {
  background-color: var(--white);
  width: 100%;
}

#main_meet {
  background-color: var(--background-pink);
  width: 100%;
}

#main_order {
  background-color: var(--title-background-green);
  color: var(--white);
  width: 100%;
}
